body {
    height: 100%;
}
.header-container {
    padding-top: 140px;
}

.home-banner-1 {
    background-image: url('/media/book-banner.jpg') no-repeat center bottom fixed;
    background-size: cover;
    height: 200px;
    position: relative;
}