{% extends 'base.html' %}
{% load static %}


{% block page_header %}
    <div class="container-fluid header-container home-banner-1">
        <div class="home-banner-1-inner text-center">

            <h1 class="text-uppercase py-2">Browse Best Selling Books</h1>
            <a href="" class="btn btn-white btn-lg text-uppercase border border-white btn-block">Shop Now</a>
        
        </div>
    </div>

{% endblock %}

{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col">
            {{books}}
        </div>
    </div>
</div>
{% endblock %}